{% extends 'padre.html' %}


{% load static %}


{% block contenido %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}"/>+
                        <div class="card-body">
                            <h5 class="card-title">Antonia Blanco</h5>
                            <p class="card-text">Un curso muy interesate</p>
                            <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <img src="{% static 'AppCoder/assets/img/testimonials-3.jpg' %}"/>+
                        <div class="card-body">
                            <h5 class="card-title">Patricia Mejia</h5>
                            <p class="card-text">La mejor oportunidad de aprendizaje</p>
                            <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>

                    </div>


                </div>

            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}"/>+
                        <div class="card-body">
                            <h5 class="card-title">Jaime Rodriguez</h5>
                            <p class="card-text">Mejor que cualquier otro curso</p>
                            <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>

                    </div>

                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <img src="{% static 'AppCoder/assets/img/testimonials-1.jpg' %}"/>+
                        <div class="card-body">
                            <h5 class="card-title">Antonia Blanco</h5>
                            <p class="card-text">Siempre adelante</p>
                            <a class="btn btn-danger" href="">Enviar mensaje</a>

                        </div>

                    </div>


                </div>


            </div>


        </div>

    </main>


{% endblock %}